body {
    background-color: #272727
}

#container {
    height: 300px;
    overflow: hidden;
    position: fixed;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -270px
}

#container .slide {
    position: absolute;
    display: block;
    left: 0;
    width: 300px;
    height: 100%;
    transition: all .4s ease;
    cursor: pointer
}

#container .slide.slide1 {
    background-color: #92dce5;
    background-image: url(img/t1.png)
}

#container .slide.slide2 {
    background-color: #ef6f6c;
    background-image: url(img/t2.png)
}

#container .slide.slide3 {
    background-color: #ff386d;
    background-image: url(img/t3.png)
}

#container .slide.slide4 {
    background-color: #e8db7d;
    background-image: url(img/t4.png)
}

#container .slide span {
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    font-size: 20px;
    transition: all .4s ease;
    opacity: .8
}